#app {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "PingFang SC", "微软雅黑", "黑体", Arial, Helvetica, sans-serif !important;
  background-color: @login-background-color !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.big {
  font-size: 16px;
}

.footer {
  width: 100px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  color: @gray;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0px 0px 20px 0px rgba(175, 187, 204, 0.2);
}

.icon {
  font-size: 18px;
}

.align-center {
  display: flex;
  align-items: center;
}

.agreement {
  text-align: center;
  font-size: 13px;
  color: #A8A8B3;
  position: absolute;
  bottom: 24px;
  white-space: nowrap;

  a {
    display: inline-block;
    padding: 0 5px;
  }
}

.easy {
  color: #81B337
}

.medium {
  color: #E99D42
}

.hard {
  color: #BD3124
}

.favour {
  color: #FFBF6B;
}